@use '../styles/variables' as vars;

.modal_box {
  &:global(.MuiBox-root) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: var(--mui-palette-background-paper);
    border-radius: 4px;
    box-shadow: vars.$shadow-elevated;
    padding: 20px;
  }
}

.modal_title {
  &:global(.MuiTypography-root) {
    margin-bottom: 10px;
  }
}
