@use '../styles/variables' as vars;
@use '../styles/breakpoints' as bp;

.modal_box {
  &:global(.MuiBox-root) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 32px);
    max-width: 500px;
    max-height: calc(100vh - 32px);
    overflow-y: auto;
    background-color: var(--mui-palette-background-paper);
    border-radius: 4px;
    box-shadow: vars.$shadow-elevated;
    padding: 16px;

    @include bp.s {
      padding: 20px;
    }
  }
}

.modal_title {
  &:global(.MuiTypography-root) {
    margin-bottom: 10px;
  }
}
