.form {
  &:global(.MuiGrid-root) {
    flex-direction: column;
    gap: 10px;
  }
}

.form_actions {
  &:global(.MuiGrid-root) {
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
  }
}
