@use '../styles/breakpoints' as bp;

.content_container {
  &:global(.MuiContainer-root) {
    margin: 60px auto 12px;

    @include bp.s {
      margin: 72px auto 24px;
    }

    @include bp.m {
      margin: 90px auto;
    }
  }
}
