@use '../styles/breakpoints' as bp;

.root {
  &:global(.MuiBox-root) {
    display: flex;
  }
}

.menu_button {
  &:global(.MuiIconButton-root) {
    margin-right: 16px;
  }
}

.menu_button_hidden {
  &:global(.MuiIconButton-root) {
    display: none;
  }
}

.drawer {
  width: min(240px, 80vw);
  flex-shrink: 0;

  @include bp.m {
    width: 240px;
  }

  :global(.MuiDrawer-paper) {
    width: min(240px, 80vw);
    box-sizing: border-box;
    background-color: var(--mui-palette-background-paper);
    color: var(--mui-palette-text-primary);

    @include bp.m {
      width: 240px;
    }
  }

  :global(.MuiListItemButton-root:hover) {
    background-color: var(--mui-palette-action-hover);

    :global(.MuiListItemIcon-root),
    :global(.MuiListItemText-root) {
      color: var(--mui-palette-primary-main);
    }
  }

  :global(.MuiListItemButton-root.Mui-selected) {
    background-color: var(--mui-palette-action-selected);

    :global(.MuiListItemIcon-root),
    :global(.MuiListItemText-root) {
      color: var(--mui-palette-primary-main);
    }

    &:global(:hover) {
      background-color: var(--mui-palette-action-selected);
    }
  }

  :global(.MuiListItemIcon-root) {
    color: var(--mui-palette-text-secondary);
    min-width: 40px;
  }
}
