.player {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-color: lightgray;
  z-index: 10;
}

.track_progress_input {
  &:global(.MuiFormControl-root) {
    fieldset {
      border: none;
    }

    :global(.MuiOutlinedInput-input) {
      padding: 0;
    }
  }
}

.track_progress_numbers {
  &:global(.MuiTypography-root) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
}
