.content_wrapper {
  &:global(.MuiGrid-root) {
    justify-content: center;
    margin: 70px 0;
    height: 270px;
  }
}

.content_card {
  &:global(.MuiCard-root) {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
