.track {
  &:global(.MuiCard-root) {
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16;
    cursor: pointer;
  }
}

.track_metadata {
  &:global(.MuiGrid-root) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.track_image {
  border-radius: 8px;
  object-fit: cover;
}

.track_name {
  font-weight: bold;
  font-size: 14px;
  color: var(--mui-palette-text-primary);
  text-align: left;
  width: 100%;
}

.track_artist {
  font-size: 12px;
  line-height: 1.2;
  color: var(--mui-palette-text-secondary);
  text-align: left;
  width: 100%;
}

.track_duration {
  font-size: 12px;
  line-height: 1.2;
  color: var(--mui-palette-text-secondary);
  text-align: right;
  flex: 1;
}

.track_actions {
  &:global(.MuiGrid-root) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
